In [1]:
from pyspark.sql import SparkSession

In [2]:
print(locals())

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'from pyspark.sql import SparkSession', 'print(locals())'], '_oh': {}, '_dh': [WindowsPath('C:/Users/Windows 10/Desktop/MyData/pyspark')], 'In': ['', 'from pyspark.sql import SparkSession', 'print(locals())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001B44D6BC590>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x000001B44E6A86D0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x000001B44E6A86D0>, 'open': <function open at 0x000001B44C7E7A60>, '_': '', '__': '', '___': '', '__session__': 'C:\\Users\\Windows 10\\Desktop\\MyData\\pyspark\\pyspark_jupyter.ipynb', '_i': 'from pyspark.sql import SparkSession', '_ii': '', '_iii': '', '_i1': 'from pyspark.sql import SparkSession', 'SparkSession': <class 'pyspark.sql.session.SparkSession'>, '_i2': 'print(locals())'}

In [3]:
spark = SparkSession.builder.appName("Datacamp Pyspark Tutorial").config("spark.hadoop.fs.file.impl", "org.apache.hadoop.fs.LocalFileSystem").getOrCreate()

In [28]:
#reading the data in multiple ways
df = spark.read.csv('datacamp_ecommerce.csv',header=True,escape="\"")
df1= spark.read.option('header','true').csv('datacamp_ecommerce.csv') #inferSchema=true means it will consider integeres otherwise all are strings
df.show() #show the data
type(df) #type of data

# checking the schema of dataframe i.e rows and and their types
df.printSchema()
df.columns #for getting all columns
df.head(3) #selecting the first 3 rows
df.tail(3) #selecing the last 3 rows
df.show() #selecting all rows
df.select('Quantity').show() #selecting single column
df.select(['StockCode','Description']).show() #selecting multiple columns
df.dtypes #to dsiplay the column types
df.describe().show() #summary about dataframe

#adding new column in dataframe
df=df.withColumn('UnitPrice_after_change',df['UnitPrice']+2)
df.withColumn('UnitPrice',df['UnitPrice']+2)#updating the existing column values

#removing the columns
df =df.drop('UnitPrice_after_change')

#renaming the column name
df.withColumnRenamed('UnitPrice','unitprice').show()

#dropping the rows which are contains atleast one null  in the row
df.na.drop().count()

#how = "any"  how="all"
df.na.drop(how="any").count()

# how="all"
df.na.drop(how="all").count()

# thresh #drop rows does not contain thresold non-null values in row
df.na.drop(thresh=8).count()

# thresh
df.na.drop(thresh=10).count() #returns 0 because we have only 8 columns

#subset #droping the rows which contain null values in particular columns
df.na.drop(subset=['UnitPrice','Description']).count()

#### Filter operations
# selecting the rows based on condition
df.filter("InvoiceNo=536365").show()

# selecting the columns after applying the condition
df.filter("InvoiceNo=536365").select(['CustomerID','UnitPrice']).show()

df.filter(df["InvoiceNo"]==536365).select(['CustomerID','UnitPrice']).show()

# applying multiple conditions using   &  |  ~

df.filter( (df["InvoiceNo"]==536365)
          & (df["UnitPrice"]>=3) ).select(['CustomerID','UnitPrice']).show()

df.filter( (df["InvoiceNo"]==536365)
          & ~(df["UnitPrice"]>=3) ).select(['CustomerID','UnitPrice']).show()

##### groupby and aggregate functions
df.groupBy('StockCode').sum().show()

df.filter(df['Quantity']==100).show()

df.agg({'UnitPrice':'sum'}).show()

df.agg({'UnitPrice':'sum','Quantity':'count'}).show()

df.groupBy('StockCode').sum().select(['StockCode','sum(Quantity)']).show()

+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity| InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/10 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/10 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/10 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/10 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/10 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/10 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/10 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/10 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/10 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/10 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/10 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
only showing top 20 rows

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity| InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/10 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/10 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/10 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/10 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/10 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/10 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/10 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/10 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/10 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/10 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/10 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
only showing top 20 rows

+--------+
|Quantity|
+--------+
|       6|
|       6|
|       8|
|       6|
|       6|
|       2|
|       6|
|       6|
|       6|
|      32|
|       6|
|       6|
|       8|
|       6|
|       6|
|       3|
|       2|
|       3|
|       3|
|       4|
+--------+
only showing top 20 rows

+---------+--------------------+
|StockCode|         Description|
+---------+--------------------+
|   85123A|WHITE HANGING HEA...|
|    71053| WHITE METAL LANTERN|
|   84406B|CREAM CUPID HEART...|
|   84029G|KNITTED UNION FLA...|
|   84029E|RED WOOLLY HOTTIE...|
|    22752|SET 7 BABUSHKA NE...|
|    21730|GLASS STAR FROSTE...|
|    22633|HAND WARMER UNION...|
|    22632|HAND WARMER RED P...|
|    84879|ASSORTED COLOUR B...|
|    22745|POPPY'S PLAYHOUSE...|
|    22748|POPPY'S PLAYHOUSE...|
|    22749|FELTCRAFT PRINCES...|
|    22310|IVORY KNITTED MUG...|
|    84969|BOX OF 6 ASSORTED...|
|    22623|BOX OF VINTAGE JI...|
|    22622|BOX OF VINTAGE AL...|
|    21754|HOME BUILDING BLO...|
|    21755|LOVE BUILDING BLO...|
|    21777|RECIPE BOX WITH M...|
+---------+--------------------+
only showing top 20 rows

+-------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|  InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+-----------+
|  count|            541909|            541909|              540455|            541909|       541909|           541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0|  9.55224954743324|         NULL|4.611113626089702|15287.690570239585|       NULL|
| stddev|13428.417280797923|16799.737628427676|                NULL|218.08115785023432|         NULL|96.75985306117958|1713.6003033215952|       NULL|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|                -1|1/10/11 10:04|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|               992|  9/9/11 9:52|            99.96|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+-----------+

+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity| InvoiceDate|unitprice|CustomerID|       Country|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/10 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/10 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/10 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/10 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/10 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/10 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/10 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/10 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/10 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/10 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/10 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/10 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/10 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/10 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
only showing top 20 rows

+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity| InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/10 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/10 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/10 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/10 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/10 8:26|     4.25|     17850|United Kingdom|
+---------+---------+--------------------+--------+------------+---------+----------+--------------+

+----------+---------+
|CustomerID|UnitPrice|
+----------+---------+
|     17850|     2.55|
|     17850|     3.39|
|     17850|     2.75|
|     17850|     3.39|
|     17850|     3.39|
|     17850|     7.65|
|     17850|     4.25|
+----------+---------+

+----------+---------+
|CustomerID|UnitPrice|
+----------+---------+
|     17850|     2.55|
|     17850|     3.39|
|     17850|     2.75|
|     17850|     3.39|
|     17850|     3.39|
|     17850|     7.65|
|     17850|     4.25|
+----------+---------+

+----------+---------+
|CustomerID|UnitPrice|
+----------+---------+
|     17850|     3.39|
|     17850|     3.39|
|     17850|     3.39|
|     17850|     7.65|
|     17850|     4.25|
+----------+---------+

+----------+---------+
|CustomerID|UnitPrice|
+----------+---------+
|     17850|     2.55|
|     17850|     2.75|
+----------+---------+

+---------+
|StockCode|
+---------+
|    22728|
|    21889|
|   90210B|
|    21259|
|    21894|
|    21452|
|    22121|
|    90022|
|    21249|
|    90143|
|    84881|
|    21248|
|    22254|
|    20868|
|    21331|
|   90197B|
|    22596|
|    21711|
|    22130|
|    22314|
+---------+
only showing top 20 rows

+---------+---------+--------------------+--------+-------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|  InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------+---------+----------+--------------+
|   536386|   85099C|JUMBO  BAG BAROQU...|     100| 12/1/10 9:57|     1.65|     16029|United Kingdom|
|   536386|   85099B|JUMBO BAG RED RET...|     100| 12/1/10 9:57|     1.65|     16029|United Kingdom|
|   536390|    22197|SMALL POPCORN HOLDER|     100|12/1/10 10:19|     0.72|     17511|United Kingdom|
|   536390|   85099B|JUMBO BAG RED RET...|     100|12/1/10 10:19|     1.65|     17511|United Kingdom|
|   536783|    20719|WOODLAND CHARLOTT...|     100|12/2/10 15:19|     0.72|     15061|United Kingdom|
|   536785|    20963|   APPLE BATH SPONGE|     100|12/2/10 15:22|     1.25|     15061|United Kingdom|
|   536785|    20961|STRAWBERRY BATH S...|     100|12/2/10 15:22|     1.25|     15061|United Kingdom|
|   536831|    21929|JUMBO BAG PINK VI...|     100|12/2/10 17:40|     1.65|     16029|United Kingdom|
|   536831|    21928|JUMBO BAG SCANDIN...|     100|12/2/10 17:40|     1.65|     16029|United Kingdom|
|   536848|    21930|JUMBO STORAGE BAG...|     100| 12/3/10 9:39|     1.65|     13408|United Kingdom|
|   536848|    21928|JUMBO BAG SCANDIN...|     100| 12/3/10 9:39|     1.65|     13408|United Kingdom|
|   536944|    22384|LUNCH BAG PINK PO...|     100|12/3/10 12:20|     1.45|     12557|         Spain|
|   536944|    20728| LUNCH BAG CARS BLUE|     100|12/3/10 12:20|     1.45|     12557|         Spain|
|   536954|    22943|CHRISTMAS LIGHTS ...|     100|12/3/10 12:41|     4.25|     17809|United Kingdom|
|   537195|    22355|CHARLOTTE BAG SUK...|     100|12/5/10 13:55|     0.72|     15311|United Kingdom|
|   537227|    22383|LUNCH BAG SUKI  D...|     100| 12/6/10 8:42|     1.45|     17677|United Kingdom|
|   537227|   85099B|JUMBO BAG RED RET...|     100| 12/6/10 8:42|     1.65|     17677|United Kingdom|
|   537262|    22197|SMALL POPCORN HOLDER|     100|12/6/10 11:26|     0.72|     15039|United Kingdom|
|   537476|    22381|TOY TIDY PINK POL...|     100|12/7/10 11:26|     1.85|     15838|United Kingdom|
|   537618|    17038|PORCELAIN BUDAH I...|     100|12/7/10 13:50|     0.07|     15061|United Kingdom|
+---------+---------+--------------------+--------+-------------+---------+----------+--------------+
only showing top 20 rows

+------------------+
|    sum(UnitPrice)|
+------------------+
|2498803.9740006444|
+------------------+

+------------------+---------------+
|    sum(UnitPrice)|count(Quantity)|
+------------------+---------------+
|2498803.9740006444|         541909|
+------------------+---------------+

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `sum(Quantity)` cannot be resolved. Did you mean one of the following? [`StockCode`].;
'Project [StockCode#1507, 'sum(Quantity)]
+- Aggregate [StockCode#1507], [StockCode#1507]
   +- Project [InvoiceNo#1506, StockCode#1507, Description#1508, Quantity#1509, InvoiceDate#1510, UnitPrice#1511, CustomerID#1512, Country#1513]
      +- Project [InvoiceNo#1506, StockCode#1507, Description#1508, Quantity#1509, InvoiceDate#1510, UnitPrice#1511, CustomerID#1512, Country#1513, (cast(UnitPrice#1511 as double) + cast(2 as double)) AS UnitPrice_after_change#2243]
         +- Relation [InvoiceNo#1506,StockCode#1507,Description#1508,Quantity#1509,InvoiceDate#1510,UnitPrice#1511,CustomerID#1512,Country#1513] csv

In [5]:
# create dataframe manually
from pyspark.sql.types import *
# Method 1  --> using list of tuples
df=spark.createDataFrame(data=[(1,1),(2,2),(3,3),(4,4)],schema=['id','data'])
# df.show()

# Method 2 --> using list of dictionaries
data=[{'id':1,'name':'a'},{'id':2,'name':'b'}]
df1=spark.createDataFrame(data=data)
df1.show()

# Method 3 -- by proving the schema for the dtaframe
# provinding the schema details for dataframe i.e like creating the table
schema=StructType([StructField(name="id",dataType=IntegerType()),
                   StructField(name="data",dataType=StringType()) ])
                   
schema1=StructType().add(field="id",data_type=IntegerType()).add(field="data",data_type=StringType())
schema2=StructType().add("id",IntegerType(),True).add("data",StringType(),True)

data=[(1,'a'),(2,'b'),(3,'c'),(4,'d')]#inserting data in table 
df2=spark.createDataFrame(data=data,schema=schema2) #creating the dataframe
# df2.show()
df2.printSchema()

+---+----+
| id|name|
+---+----+
|  1|   a|
|  2|   b|
+---+----+

root
 |-- id: integer (nullable = true)
 |-- data: string (nullable = true)

In [8]:
########## read csv files 
# Method 1
csv_data = spark.read.csv('csv_files/csv_data.csv',header=True,inferSchema=True)
# display(csv_data)  this line works in databricks for displaying the data
csv_data.show()
# csv_data.printSchema()

# Method 2
# csv_data1=spark.read.format("csv").load("/FileStore/tables/csv_data1.csv",header=True)
# csv_data1.show()
# display(csv_data1)

# Method 3
# csv_data2=spark.read.format("csv").option(key='header',value='True').load("/FileStore/tables/csv_data2.csv",inferSchema=True)
# display(csv_data2)

# Method 4 --> read multiple csv files from different folders
# csv_data3=spark.read.csv(path=["/FileStore/tables/csv_data1.csv","/FileStore/tables/csv_data2.csv"],header=True)
# display(csv_data3)
# csv_data3.printSchema()

# Method 5 --> read multiple csv files from same path
# csv_data4=spark.read.csv(path="/FileStore/tables/",header=True)
# display(csv_data4)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.09|  1282.436|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.12|   1290.82|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.03|  1412.007|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.06|  1488.055|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.09|  1497.678|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.12|  1570.507|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.03|  1393.749|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.06|  1517.143|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.09|  1381.514|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.12|  1370.985|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.03|  1073.017|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.06|  1131.445|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.09|  1440.101|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.12|  1489.979|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2021.03|  1390.782|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [37]:
######### saving the dataframe into csv file with different ways
from pyspark.sql import *
df=spark.createDataFrame([(1,'a'),(2,'b'),(3,'c')],schema=["id","data"])
df.show()
#######  not working in my system due to java issue
# df.write.csv("FileStore/csv_files/abc.csv",header=True,mode="ignore") #adding with modes
# df.write.option("header",True).csv("/FileStore/tables/abc/abc.csv") #stores in parts
# df.write.mode("ignore").csv("/FileStore/csv_files/abc.csv",header=True)
# df.write.format("csv").mode("overwrite").save("/FileStore/csv_files/abc.csv")

+---+----+
| id|data|
+---+----+
|  1|   a|
|  2|   b|
|  3|   c|
+---+----+

In [ ]:
##### reading json file in different ways
df=spark.read.json("FileStore/json_data.json")
df.show()
# df.printSchema()

# df1=spark.read.format("json").load("/FileStore/json_data.json")
# df1.show()

# read multi line json data
# df2=spark.read.json("/FileStore/multi_line_json_data.json",multiLine=True)
# df2.show()

# reading multiple json files
# df3=spark.read.json(path=["/FileStore/json_data.json","/FileStore/json_data1.json"])
# df3.show()

# df4=spark.read.json(path=["/FileStore/json_data.json","/FileStore/multi_line_json_data.json"],multiLine=True)
# df4.show()

# reading all json files from directory
# df5=spark.read.json(path="FileStore/*.json",multiLine=True)
# df5.show()

In [7]:
#########  write dataframe into json file
# df=spark.createDataFrame([{"id":1,"name":"raj"},{"id":2,"name":"ram"}])
# df.show()

schema=["id","name"]
df1=spark.createDataFrame([(1,"jkl"),(2,"abc")],schema=schema)
df1.show()

# df.write.json(path="FileStore/output.json",mode="ignore")

+---+----+
| id|name|
+---+----+
|  1| jkl|
|  2| abc|
+---+----+

In [12]:
# ########reading the parquet files
df= spark.read.parquet("FileStore/cars.parquet")
df.show()

# not working
# reading multiple files
# df1 = spark.read.parquet(path=["FileStore/cars.parquet","FileStore/cars1.parquet"])
# df1 = spark.read.parquet(path=["FileStore/*.parquet"])
# df1.show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

In [15]:
# #####saving dataframe into parquet file
schema=["id","name"]
data=[(1,"abc"),(2,"ghj")]
df=spark.createDataFrame(data=data,schema=schema)
df.show()
# df.write.parquet("FileStore/output.parquet",mode="ignore")

+---+----+
| id|name|
+---+----+
|  1| abc|
|  2| ghj|
+---+----+

In [4]:
# show dataframe contents
data=[(1,"asdfgfghfadhtaerhjtrjyjytskdu"),
      (2,"bgrehtsrjhysmjkukmukmuykudk"),
      (3,"cdsfjghdjhjrahrhlekghthty"),
      (4,"iuywdqbwefhbybygvsvsvd")]
schema=["id","value"]
df=spark.createDataFrame(data=data,schema=schema)
# df.show()
# df.show(truncate=False)#to dislpay the full item in rows
# df.show(truncate=10) #display specied no. of characters in row element
# df.show(n=3)#display the specific no.of rows from dataframe
df.show(vertical=True) #show the data in vertical format i.e column names will become row names

-RECORD 0---------------------
 id    | 1
 value | asdfgfghfadhtaerh...
-RECORD 1---------------------
 id    | 2
 value | bgrehtsrjhysmjkuk...
-RECORD 2---------------------
 id    | 3
 value | cdsfjghdjhjrahrhl...
-RECORD 3---------------------
 id    | 4
 value | iuywdqbwefhbybygv...

In [6]:
# #### withColumn() usage for adding new column or updating the existing column
from pyspark.sql.functions import col,lit 

#col function will return the specified column from dataframe
# lit function helps to add data to the column

data=[(1,"ram",30000),(2,"raj",43434),(3,"yhak",54385)]
schema=["id","name","salary"]
df=spark.createDataFrame(data=data,schema=schema)
# df.show()
# df.printSchema()

# converting the column datatype
df1=df.withColumn(colName='salary',col=col('salary').cast('Integer'))
# df1.printSchema()

# updating the values in column
df2=df.withColumn('salary',col('salary')+5000)
# df2.show()

# add a new column for dataframe
# df3=df.withColumn('country',lit('india')) #adding the value to th entire column
# df3.show()

# duplicating the column in dataframe
# df4=df.withColumn('copied_salary',col('salary'))
# df4.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1| ram| 35000|
|  2| raj| 48434|
|  3|yhak| 59385|
+---+----+------+

In [7]:
# #### withColumnRenamed()
data=[(1,"ram",30000),(2,"raj",43434),(3,"yhak",54385)]
schema=["id","name","salary"]
df=spark.createDataFrame(data=data,schema=schema)
df.show()
# df.printSchema()

# renaming the column name
df1=df.withColumnRenamed('salary','current_salary')
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1| ram| 30000|
|  2| raj| 43434|
|  3|yhak| 54385|
+---+----+------+

+---+----+--------------+
| id|name|current_salary|
+---+----+--------------+
|  1| ram|         30000|
|  2| raj|         43434|
|  3|yhak|         54385|
+---+----+--------------+

In [9]:
# #### StructType() and StructField() 
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

data=[(1,"ram",3000),(2,"raj",4500)]
schema=StructType([StructField(name="id",dataType=IntegerType()),
                   StructField(name="name",dataType=StringType()),
                   StructField(name="salary",dataType=IntegerType())])

# df=spark.createDataFrame(data=data,schema=schema)
# df.show()
# df.printSchema()

# complex data i.e nested data like first name and last name
data=[(1,("ram","kumar"),3000),(2,("raj","kumar"),4500),(3,("kalyan","kumar"),4550)]
structName=StructType([StructField(name="first_name",dataType=StringType()),\
                       StructField(name="last_name",dataType=StringType())])
schema=StructType([StructField(name="id",dataType=IntegerType()),\
                   StructField(name="name",dataType=structName),\
                   StructField(name="salary",dataType=IntegerType())])

df1=spark.createDataFrame(data=data,schema=schema)
df1.show()
# display(df)
df1.printSchema()

+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|   {ram, kumar}|  3000|
|  2|   {raj, kumar}|  4500|
|  3|{kalyan, kumar}|  4550|
+---+---------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
# #### arrayType column in dataframe
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,ArrayType
data=[(1,"ram",[1,2]),(2,"raj",[3,4]),(3,"kalyan",[5,6])]
# schema= ["id","name","numbers"]
schema=StructType([StructField(name="id",dataType=IntegerType()),\
                   StructField(name="name",dataType=StringType()),
                   StructField(name="numbers",dataType=ArrayType(IntegerType()))])
df=spark.createDataFrame(data=data,schema=schema)
df.show()
# df.printSchema()

# adding a new column with array elements
df1=df.withColumn('first_element',df.numbers[0])
df1.show()

+---+------+-------+
| id|  name|numbers|
+---+------+-------+
|  1|   ram| [1, 2]|
|  2|   raj| [3, 4]|
|  3|kalyan| [5, 6]|
+---+------+-------+

+---+------+-------+-------------+
| id|  name|numbers|first_element|
+---+------+-------+-------------+
|  1|   ram| [1, 2]|            1|
|  2|   raj| [3, 4]|            3|
|  3|kalyan| [5, 6]|            5|
+---+------+-------+-------------+

In [13]:
# creating dataframe with adding values to array
from pyspark.sql.functions import col,array
data=[(1,2),(3,4),(5,6)]
schema=["num1","num2"]
df=spark.createDataFrame(data,schema)
df.show()

df1=df.withColumn("numbers",array(df.num1,df.num2))
df1.show()
df1.printSchema()

+----+----+
|num1|num2|
+----+----+
|   1|   2|
|   3|   4|
|   5|   6|
+----+----+

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   3|   4| [3, 4]|
|   5|   6| [5, 6]|
+----+----+-------+

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)
 |-- numbers: array (nullable = false)
 |    |-- element: long (containsNull = true)

In [15]:
# ###  explore(),split(),array() array_contains()
from pyspark.sql.functions import explode
data=[(1,"raj",["aws","java"]),(2,"ram",["dotnet","js"]),(3,"kalyan",["python","golang"])]
schema=["id","name","skills"]
df=spark.createDataFrame(data,schema)
df.show()
# df.printSchema()

# exlpode will explode the array and create rows with element in array
df1=df.withColumn('skill',explode(df.skills))
df1.show()

+---+------+----------------+
| id|  name|          skills|
+---+------+----------------+
|  1|   raj|     [aws, java]|
|  2|   ram|    [dotnet, js]|
|  3|kalyan|[python, golang]|
+---+------+----------------+

+---+------+----------------+------+
| id|  name|          skills| skill|
+---+------+----------------+------+
|  1|   raj|     [aws, java]|   aws|
|  1|   raj|     [aws, java]|  java|
|  2|   ram|    [dotnet, js]|dotnet|
|  2|   ram|    [dotnet, js]|    js|
|  3|kalyan|[python, golang]|python|
|  3|kalyan|[python, golang]|golang|
+---+------+----------------+------+

In [17]:
# ### split() in dataframe
# split function will split the data based on delimiter and returns array
from pyspark.sql.functions import split
data=[(1,"ram","aws,python"),(2,"raj","java,dotnet"),(3,"kalyan","csharp,js,golang")]
schema=["id","name","skills"]
df=spark.createDataFrame(data,schema)
# df.show()
df.printSchema()
df1=df.withColumn("skillsArray",split(df.skills,","))
df1.show()
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: string (nullable = true)

+---+------+----------------+--------------------+
| id|  name|          skills|         skillsArray|
+---+------+----------------+--------------------+
|  1|   ram|      aws,python|       [aws, python]|
|  2|   raj|     java,dotnet|      [java, dotnet]|
|  3|kalyan|csharp,js,golang|[csharp, js, golang]|
+---+------+----------------+--------------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- skillsArray: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [18]:
# array() method usage
# array() will helps to combine multiple columns into single column
from pyspark.sql.functions import array
data=[(1,"ram","java","dotnet"),(2,"raj","aws","python"),(3,"kalyan","golang","csharp")]
schema=["id","name","primary","secondary"]
df=spark.createDataFrame(data,schema)
df.show()
df1=df.withColumn("skills",array(df.primary,df.secondary))
df1.show()

+---+------+-------+---------+
| id|  name|primary|secondary|
+---+------+-------+---------+
|  1|   ram|   java|   dotnet|
|  2|   raj|    aws|   python|
|  3|kalyan| golang|   csharp|
+---+------+-------+---------+

+---+------+-------+---------+----------------+
| id|  name|primary|secondary|          skills|
+---+------+-------+---------+----------------+
|  1|   ram|   java|   dotnet|  [java, dotnet]|
|  2|   raj|    aws|   python|   [aws, python]|
|  3|kalyan| golang|   csharp|[golang, csharp]|
+---+------+-------+---------+----------------+

In [21]:
# ### array_contains() usgae
from pyspark.sql.functions import array_contains
# this method will check given value is presnt in tha array or not
data=[("ram",["aws","python"]),("raj",["golnag","csharp"]),("kalyan",["dotent","oracle"]),("kumar",[])]
schema=["name","skills"]
df=spark.createDataFrame(data,schema)
# df.show()
# df.printSchema()

df1=df.withColumn("containspython",array_contains(df.skills,"python"))
df1.show()

+------+----------------+--------------+
|  name|          skills|containspython|
+------+----------------+--------------+
|   ram|   [aws, python]|          true|
|   raj|[golnag, csharp]|         false|
|kalyan|[dotent, oracle]|         false|
| kumar|              []|         false|
+------+----------------+--------------+

In [22]:
data=[(1,"ram","aws,python"),(2,"raj","java,dotnet"),(3,"kalyan","csharp,js,golang")]
schema=["id","name","skills"]
df=spark.createDataFrame(data,schema)
df.show()
df1=df.withColumn("contain_python",array_contains(split("skills",","),"python"))
df1.show()

+---+------+----------------+
| id|  name|          skills|
+---+------+----------------+
|  1|   ram|      aws,python|
|  2|   raj|     java,dotnet|
|  3|kalyan|csharp,js,golang|
+---+------+----------------+

+---+------+----------------+--------------+
| id|  name|          skills|contain_python|
+---+------+----------------+--------------+
|  1|   ram|      aws,python|          true|
|  2|   raj|     java,dotnet|         false|
|  3|kalyan|csharp,js,golang|         false|
+---+------+----------------+--------------+

In [23]:
# ## MapType() method usage
from pyspark.sql.types import MapType 
data=[("ram",{"hair":"black","eyes":"black"}),("raj",{"hair":"brown","eyes":"blue"})]
# schema=["name","properties"]
schema=StructType([StructField(name="name",dataType=StringType()),\
                   StructField(name="properties",dataType=MapType(keyType=StringType(),valueType=StringType()))])
df=spark.createDataFrame(data,schema)

# display(df)
# df.show(truncate=False)
# df.printSchema()
# accessing the data from MapType item
df1=df.withColumn("hair_color",df.properties['hair'])
df1.show(truncate=False)
df2=df.withColumn("eyes_color",df.properties.getItem('eyes'))
df2.show(truncate=False)

+----+------------------------------+----------+
|name|properties                    |hair_color|
+----+------------------------------+----------+
|ram |{eyes -> black, hair -> black}|black     |
|raj |{eyes -> blue, hair -> brown} |brown     |
+----+------------------------------+----------+

+----+------------------------------+----------+
|name|properties                    |eyes_color|
+----+------------------------------+----------+
|ram |{eyes -> black, hair -> black}|black     |
|raj |{eyes -> blue, hair -> brown} |blue      |
+----+------------------------------+----------+

In [28]:
# explode(),map_keys(),map_values() usage on MapType data
from pyspark.sql.functions import explode,map_keys,map_values

data=[("ram",{"eyes":"black","hair":"black"}),("raj",{"eyes":"blue","hair":"brown"})]
schema=["name","properties"]
schema=StructType([StructField("name",StringType()),StructField("properties",MapType(StringType(),StringType()))])
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
# explode function will make 2 columns for keys and values
# df1=df.select(df.name,df.properties,explode(df.properties))
# df1.show(truncate=False)

# df2=df.select(df.name,df.properties,map_keys(df.properties))
# df2.show(truncate=False)
# df3=df.select(df.name,df.properties,map_values(df.properties))
# df3.show(truncate=False)

+----+------------------------------+
|name|properties                    |
+----+------------------------------+
|ram |{eyes -> black, hair -> black}|
|raj |{eyes -> blue, hair -> brown} |
+----+------------------------------+

In [27]:
# Row() class in python
from pyspark.sql import Row
# Row as tuple
row1=Row('ram',2000)
# print(row1[0],row1[1])

# Row as class object
row2=Row(name="raj",salary=5000)
# print(row2.name,row2.salary)

# create dataFrame using row objects
row3=Row(name="kalyan",salary=3000)
row4=Row(name="tyu",salary=2200)
data=[row3,row4]
# df=spark.createDataFrame(data)
# df.show()
# df.printSchema()

# create a class using Row() class
person=Row('name','salary')
p1=person('ram',3000)
p2=person('kalyan',1234)
print(p1.name,p1.salary)

data=[p1,p2]
df1=spark.createDataFrame(data)
df1.show()

# nested data using Row() class
# data=[Row(name="ram",prop=Row(hair="balck",eyes="blue")),Row(name="kalyan",prop=Row(hair="brown",eyes="black"))]
# df2=spark.createDataFrame(data)

# df2.show()
# df2.printSchema()

ram 3000
+------+------+
|  name|salary|
+------+------+
|   ram|  3000|
|kalyan|  1234|
+------+------+

In [31]:
# Column() class creation
from pyspark.sql.functions import lit,col
from pyspark.sql.types import StringType,StructField,MapType,IntegerType
column1=lit("abcd")
# print(type(column1))
# print(column1)

data=[("ram",2000,"male",("black","black")),("raji",3000,"female",("brown","blue"))]
# schema=['name','salary','gender']
properties=StructType([StructField("hair",StringType()),StructField("eyes",StringType())])
schema=StructType([StructField("name",StringType()),\
                   StructField("salary",IntegerType()),\
                   StructField("gender",StringType()),\
                   StructField("prop",properties)])
df=spark.createDataFrame(data,schema)
df.show()


# df1=df.withColumn("country",lit("abcd"))
# df1.show()

# accesing the column values in different ways
# df1.select('name').show()
# df1.select(df1['name']).show()
# df1.select(col('name')).show()

# df1.select(df1.prop).show()
# df1.select(df1['prop']).show()
# df1.select(df1.prop.eyes).show()
# df1.select(df1['prop.hair']).show()

+----+------+------+--------------+
|name|salary|gender|          prop|
+----+------+------+--------------+
| ram|  2000|  male|{black, black}|
|raji|  3000|female| {brown, blue}|
+----+------+------+--------------+

In [32]:
# when() and otherwise() usage
from pyspark.sql.functions import when
data=[(1,"ram","M",20000),(2,"kalyani","F",30000),(3,"ram","",23300)]
schema=["id","name","gender","salary"]
df=spark.createDataFrame(data,schema)
df.show()
df1=df.select("id",df.name,when(df.gender=='M','Male').\
                            when(df.gender=='F','Female').\
                            otherwise('Not to specify').alias('gender'))
df1.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|    ram|     M| 20000|
|  2|kalyani|     F| 30000|
|  3|    ram|      | 23300|
+---+-------+------+------+

+---+-------+--------------+
| id|   name|        gender|
+---+-------+--------------+
|  1|    ram|          Male|
|  2|kalyani|        Female|
|  3|    ram|Not to specify|
+---+-------+--------------+

In [33]:
# alias(),asc(),desc(), cast() and like() functions usage
data=[(1,"ram",2000),(2,"raj",3000),(3,"kalyani",4000),(4,"ramesh",2344)]
schema= ["id","name","salary"]
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

# using alias for renaming the column
df1=df.select(df.id.alias("emp_id"),df.name.alias("emp_name"),df.salary.alias("emp_salary"))
# df1.show()

# asc() function to ascending the rows based on particular column
# df2=df.sort(df.name.asc())
# df2.show()

# desc() to sort the rows basd on column values
# df3=df.sort(df.name.desc())
# df3.show()

# cast() to change the datatype of items in column
# df4=df.select(df.id,df.name,df.salary.cast('int'))
# df4.printSchema()

# like() to filter the rows based on some condition applying on column
df5=df.filter(df.name.like('r%'))
df5.show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|    ram|  2000|
|  2|    raj|  3000|
|  3|kalyani|  4000|
|  4| ramesh|  2344|
+---+-------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|   ram|  2000|
|  2|   raj|  3000|
|  4|ramesh|  2344|
+---+------+------+

In [34]:
# filter(), where() functions usage
data=[(1,"ram","M",2000),(2,"raj","M",3000),(3,"kalyani","F",4000),(4,"ramesh","M",2344)]
schema= ["id","name","gender","salary"]
df=spark.createDataFrame(data,schema)
df.show()
# df.printSchema()

# filter usage
df1=df.filter(df.gender=="M")
df1.show()

df2= df.filter("gender == 'M'")
df2.show()

# where() usage
df3=df.where(df.salary> 3000)
# df3.show()

df4=df.where("name == 'ram'")
# df4.show()

# applying multiple conditions
df5=df.filter((df.name == "ram")&(df.salary==2000))
# df5.show()

df6=df.where((df.name.like("r%")) & (df.salary==2000))
df6.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|    ram|     M|  2000|
|  2|    raj|     M|  3000|
|  3|kalyani|     F|  4000|
|  4| ramesh|     M|  2344|
+---+-------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|   ram|     M|  2000|
|  2|   raj|     M|  3000|
|  4|ramesh|     M|  2344|
+---+------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|   ram|     M|  2000|
|  2|   raj|     M|  3000|
|  4|ramesh|     M|  2344|
+---+------+------+------+

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  1| ram|     M|  2000|
+---+----+------+------+

In [35]:
# distinct(),dropDuplicate() functions usage
data=[(1,"ram","M",2000),(1,"ram","M",2000),(2,"raj","M",3000),(3,"kalyani","F",4000),(4,"ramesh","M",2344),(4,"kamal","M",2444)]
schema= ["id","name","gender","salary"]
df=spark.createDataFrame(data,schema)
df.show()

# distinct() usage 
df1=df.distinct() #distinct will work on all columns i.e thw whole row should be duplicated not a single element in a row
# df1.show()

# dropDuplicates() usage it will work on all columns/particular columns also
df2= df.dropDuplicates() #dropping rows which are completely duplicate
# df2.show()

df3= df.dropDuplicates(['id'])
# df3.show()

df4= df.dropDuplicates(['salary'])
df4.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|    ram|     M|  2000|
|  1|    ram|     M|  2000|
|  2|    raj|     M|  3000|
|  3|kalyani|     F|  4000|
|  4| ramesh|     M|  2344|
|  4|  kamal|     M|  2444|
+---+-------+------+------+

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|    ram|     M|  2000|
|  4| ramesh|     M|  2344|
|  4|  kamal|     M|  2444|
|  2|    raj|     M|  3000|
|  3|kalyani|     F|  4000|
+---+-------+------+------+

In [36]:
# orderBy(), sort() functions usage
data=[(1,"ram","M",2000),(2,"raj","M",3000),(3,"kalyani","F",4000),(4,"kamal","M",2444),(1,"ram","M",2000),(4,"ramesh","M",2344)]
schema= ["id","name","gender","salary"]
df=spark.createDataFrame(data,schema)
df.show()

# sort() usage
df1=df.sort("salary")
# df1.show()

df2= df.sort(df.name.desc())
# df2.show()
df3=df.sort(df.name,df.salary)
# df3.show()

# orderBy() usage
df4= df.orderBy(df.name,df.salary.desc())
# df4.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|    ram|     M|  2000|
|  2|    raj|     M|  3000|
|  3|kalyani|     F|  4000|
|  4|  kamal|     M|  2444|
|  1|    ram|     M|  2000|
|  4| ramesh|     M|  2344|
+---+-------+------+------+